@import '../../../mixins.scss';

.detailbanner{
    position: relative;
    height:1300px;
    @media(max-width:430px){
        height: 250vh;
    }
    @include md{
        height: 600px;
    }
    @include xl{
        height: 720px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        @include md{
            height: 600px;
        }
        @include xl{
            width: 100vw;
            height: 700px;
        }
    }
    .detailsContent{
        height: 320px;
        width: 100%;
        background-color:rgba(7, 7, 29,0.8);
        position: absolute;
        top: 0;
        @include md{
            height:600px ;
        }
        @include xl{
            height: 700px;
        }
        .main-content{
            height: 1100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top:7vh;
            // background-color: red;
            @include md{
                align-items:flex-start;
                flex-direction: row;
                height:fit-content;
                padding-top: 15vh;
                gap: 30px;
                justify-content: flex-start;
                padding-left: 20px;
            }
            @include xl{
                align-items:flex-start;
                flex-direction: row;
                height:fit-content;
                padding-top: 15vh;
                gap: 30px;
                justify-content: flex-start;
                padding-left: 20px;
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 20px;
                box-shadow: 1px 1px 10px;
                @include md{
                    height: 400px;
                   width: 250px;
                }
                @include xl{
                   height: 550px;
                   width: 350px;
                }
            }
            .content{
                .title{
                    font-size: 5vmax;
                    text-align: left;
                    padding:0;
                    padding-top: 10px;
                    margin: 0;
                    margin-bottom: 10px;
                    @include md{
                        font-size: 1rem;
                    }
                    @include xl{
                        font-size: 2rem;
                    }
                }
                .subcontent{
                    display: flex;
                flex-direction: column;
                gap:3vh;
                max-width: 700px;
                @include md{
                    gap: 1.2vh;
                    max-width: 500px;
                }
                @include xl{
                    max-width: 700px;
                }
                
                h4{
                    font-size:4vmax;
                    @include md{
                        font-size: 1rem;
                    }
                    @include xl{
                        font-size: 1.6rem;
                    }
                }
                .overview{
                    line-height: 1.3;
                    text-align:left;
                    font-size:3vmax;
                    @include md{
                        font-size: 0.6rem;
                    }
                    @include xl{
                        font-size: 1.1rem;
                    }
                }
                .subtitle{
                    font-size:3vmax;
                    color:gray;
                    @include md{
                        font-size: 1rem;
                    }
                    @include xl{
                        font-size: 1.5rem;
                    }
                }
                .genre-container{
                    width:fit-content;
                    justify-content: flex-start;
                }
                .options{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    .rating{
                        height: 45px;
                        width: 45px;
                        @include md{
                            height: 35px;
                            width: 35px;
                        }
                        @include xl{
                            height: 65px;
                            width: 65px;
                        }
                        background-color: var(--black3);
                        border-radius: 50%;
                        font-weight: bold;
                    }
                    .trailer{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .icon{
                            font-size: 2.7rem;
                            @include md{
                                font-size: 2.4rem;
                            }
                            @include xl{
                                font-size: 4rem;
                            }
                        }
                        p{
                            font-size:3vmax;
                            @include md{
                                font-size:1rem;
                            }
                            @include xl{
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                .status{
                    display: flex;
                    gap: 20px;
                    @include md{
                        gap: 10px;
                    }
                    @include xl{
                        gap: 50px;
                    }
                    .statusopt{
                        display: flex;
                        flex-direction: column;
                        @include xl{
                            align-items: center;
                            flex-direction: row;
                        }
                        gap: 10px;
                        b{
                            font-size: 3vmax;
                            @include md{
                                font-size:1rem;
                            }
                            @include xl{
                                font-size: 1.1rem;
                            }
                        }
                        span{
                            color: rgb(12, 144, 232);
                            font-weight: 600;
                            font-size: 2vmax;
                            @include md{
                                font-size: 0.7rem;
                            }
                            @include xl{
                                font-size: 1rem;
                            }
                        }
                    }
                }
                }
                .makers{
                    display: flex;
                    flex-direction: column;
                    gap: 2vh;
                    .maker{
                        border-bottom: 2px solid white;
                        display: flex;
                        align-items: center;
                        padding: 2vh 0;
                        gap: 20px;
                        @include md{
                          padding: 10px 0;
                        }
                        b{
                            font-size: 3vmax;
                            @include md{
                                font-size: 1rem;
                            }
                            @include xl{
                                font-size: 1.1rem;
                            }
                        }
                        span{
                            color: rgb(12, 144, 232);
                            font-weight: 600;
                            font-size: 2vmax;
                            @include md{
                                font-size:0.7rem;
                            }
                            @include xl{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.loading{
    padding-top: 10vh;
    height:fit-content;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include xl{
        padding-top: 15vh;
        flex-direction: row;
        align-items: center;
    }
    .poster{
        height: 400px;
        border-radius: 20px;
        width: 100%;
        @include xl{
            width: 350px;
            height: 450px;
        }
    }
    .skerows{
        display: flex;
        flex-direction: column;
        gap: 2vh;
        padding-right: 20px;
        .row{
            border-radius: 20px;
            height: 20px;
            width: 100%;
            @include xl{
                width: 600px;
                height: 30px;
            }
        }
    }
}
