*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.parent{
   min-height: 100vh;
}

/* Nav component */
nav{
  display: flex;
  justify-content: space-between;
  background-color: rgb(238, 236, 236);
  padding: 10px 20px;
  align-items: center;
  padding-right: 80px;
  position: sticky;
  top: 0;
}
nav .options{
  display: flex;
  gap:20px;
  align-items: center;
}
a{
  text-decoration: none;
  color: black;
}
button{
  padding: 5px 10px;
  font-weight: bold;
  color: white;
  background-color: rgb(92, 42, 230);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}
.carticon{
  position: relative;
  width: fit-content;
}
.circle{
  background-color: rgb(76, 32, 199);
  color: white;
  height: 15px ;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  top:-3px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.6rem;
}
.slidenav{
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  padding: 20px 0;
  background: #cac8c8;
  transform: translate(0,-200%);
  transition: all ease-in-out 0.3s;
}
.ham{
  display: none;
}
/* logo */
.logo {
  width: fit-content;
  height: 50px;
  background-color: #3498db;
  border-radius:10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}
nav img{
  border-radius:50%;
  height: 30px;
}

/* home component */
.home{
  display: flex;
  flex-direction: column;
}
.home img{
  height: 200px;
}
.hero{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 50px 0;
}
.hero-content{
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 0 10px;
}
.hero-content span,p{
  color: rgb(103, 102, 102);
}
 
/* explore section */
.product{
  box-shadow: 1px 1px 10px gray;
  width: fit-content;
  cursor: pointer;
}
.product:hover{
  scale: 1.1;
  opacity: 0.5;
  transition:all ease-in-out 0.3s;
}
.prod-content{
  display: flex;
  justify-content: space-between;
  padding:10px 20px;
  color: rgb(48, 45, 45);
}
.product img{
  width: 200px;
  height: 200px;
}
.sale{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  gap:20px;
}
.explore{
  background-color: rgb(252, 242, 242);
  padding: 7vh 0;
}
.explore-title{
  margin: 0 auto;
  width: fit-content;
}

/* features section */
.features-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  background-color: rgb(224, 220, 220);
}
.features{
  display: grid;
  gap: 10px;
  grid-template-columns:repeat(3,1fr);
  width: 300px;
  font-size: 0.7rem;
}
.feature{
  display: flex;
  gap: 5px;
  background-color: rgb(177, 201, 245);
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}
.icon{
  color: blue;
}
.f1{
  grid-row: span 2;
}
.f4{
  grid-column: span 2;
}

/* trust section  */
.trust{
  text-align: center;
  padding: 10vh 10px;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  color: gray;
}
.companies{
  display: flex;
  gap: 30px;
  justify-content: center;
}
.companies .icon{
   font-size: 3rem;
}

/* contact section */
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}
.contact img{
  width: 100vw;
  height: 50vh;
}
.contact form{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-bottom: 10vh;
}
.contact input,.contact textarea{
  padding:5px 10px;
}

/* products page */
.pronav{
  display: flex;
  gap: 5vw;
  justify-content: center;
}
.pronav input,.pronav select{
  padding:5px 10px;
  outline: none;
}
.products{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 40px;
   margin-bottom: 10vh;
   max-width: 800px;
}
.productspage{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  padding:5vh 10px;
}

/* single product */

.singleprod{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 5vh 5vw;
}
.singleprod img{
  height: 200px;
  width: 200px;
}
.single-content{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  max-width: 600px;
}
.prodfeatures{
  display: flex;
  gap:2vw;
}
.feat{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter{
  display: flex;
  gap: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}
.counter span{
  cursor: pointer;
}

/* cart component */
.headings{
  display: flex;
  gap: 60px;
  padding-left: 15px;
}
.cart-content{
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}
.cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 10px;
}
.cart-content img{
  width: 50px;
}
.item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons{
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.total{
  background-color: rgb(226, 222, 222);
  border-radius: 10px;
  padding: 10px;
  margin: 10vh 0;
  margin-left: 300px;
}
.removeicon{
  font-size: 1.6rem;
}

/* login component */
.login{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}
.loginel{
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding:5vh 20px;
  align-items: center;
}
.login form{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.login input{
  outline: blue;
  padding: 0 10px;
}
.login button{
  border-radius: 0;
  background-color: blue;
  font-weight: normal;
}
.forget{
  color: blue;
  font-size: 0.8rem;
  cursor: pointer;
}
.social{
  display: flex;
  align-items: center;
  gap: 1vw;
  border: 1px solid gray;
  color: rgb(66, 63, 63);
  padding: 5px 10px;
}
.social-login{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.error{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  padding:0 50px;
}
.error b,.error span{
  font-size: 2rem;
}
.cartmessage{
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  padding: 20vh 0;
}

@media(max-width:768px){
   nav .options{
     display: none;
   }
   .ham{
    display: block;
   }
   .headings{
     gap: 27px;
     font-size: 0.7rem;
     justify-content: center;
   }
   .cart-content{
     gap: 25px;
     font-size: 0.7rem;
   }
   .item img{
    width: 30px;
   }
   .buttons{
     width: 250px;
   }
   .buttons button{
    font-size: 0.7rem;
   }
   .total{
    margin-left: 0;
   }
   .removeicon{
     font-size: 1rem;
   }
   .pronav input,.pronav select{
     font-size: 0.5rem;
   }
   .feat span{
    font-size: 0.5rem;
   }
   .counter{
    font-size: 1rem;
   }
}
@media(min-width:768px){
  .hero{
     flex-direction: row;
     justify-content: center;
  }
  .sale{
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
  .features{
    width: 600px;
    font-size: 1.1rem;
  }
  .features-container{
    padding: 15vh 0;
  }
  .companies .icon{
     font-size: 5rem;
  }
  .trust{
    gap: 10vh;
  }
  .singleprod{
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}
@media(max-width:375px){
   .features{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .feature{
     width: 250px;
   }
}

::-webkit-scrollbar{
  display: none;
}