@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    .dark{
        background-color: rgb(23, 23, 23);
        color: white;
    }
    .light{
        background-color: white;
        color: black;
    }
    .skeleton {
        position: relative;
        overflow: hidden;
        background-color: #a8abaf;
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            background-image: linear-gradient(
                90deg,
                rgba(#2d2d2d, 0) 0,
                rgba(#34445d, 0.2) 20%,
                rgba(#193763, 0.5) 60%,
                rgba(#2a3340, 0)
            );
            animation: shimmer 2s infinite;
            content: "";
        }
      
        @keyframes shimmer {
            100% {
                transform: translateX(100%);
            }
        }
      }
      .card{
        box-shadow: 1px 1px 10px;
        border-radius: 5px;
      }
}

::-webkit-scrollbar{
    display: none;
}
body{
    user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
}