.title{
    display: flex;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
    h3{
        font-size: 2rem;
        font-weight: 100;
    }
}
