@import '../../mixins.scss';
.title{
    display: flex;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
    h3{
        font-size: 5vmax;
        font-weight: 100;
        @include sm{
            font-size: 2.7rem;
        }
    }
}
