*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  background-color: rgb(37, 36, 36);
  color: white;
  min-height: 100vh;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.primary{
  background-color: blue;
  color: white;
}
button{
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.secondary{
  background-color: rgb(22, 158, 22);
  color: white;
}
.card{
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: white;
  gap: 2vh;
  padding: 20px;
  border-radius: 10px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.card input{
  padding:10px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 1rem;
}
.login{
  background-color: rgb(198, 214, 244);
  color: black;
  height: 100vh;
  width: 100vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.card h1{
  color: blue;
}
.heading{
  width: 300px;
}
.heading p{
  font-weight: 500;
}

.card span{
  color: blue;
  text-align: center;
}
.nav{
  background-color:white;
  width: 50vw;
  min-height: 90vh;
  position: absolute;
  z-index: 99999;
  top: 10vh;
  transform: translate(-100%);
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  color: black;
  padding: 20px;

}
.nav input{
  height: 5vh;
  border: 1px solid black;
  font-size: 2vmax;
}
.important{
  display: flex;
  align-items: center;
  gap: 10px;
}
.navoption{
  display: flex;
  align-items: center;
  gap: 15px;
}