*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body{
    min-height: 100vh;
    width: 100vw;
    background-image: url(pexels-alexander-grey-1191710.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
}
.header{
    background-color: rgb(42, 42, 42);
    padding: 5vh 2vw;
    display:flex;
    justify-content: center;
}
.header h1{
    color: red;
    font-size:2 rem;
    text-align: center;
}
.head{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.head input{
    padding: 1vh 2vw;
    border: 1px solid red;
    border-radius: 10px;
    outline: none;
}

button{
    background-color: red;
    color: white;
    font-weight: 500;
    padding: 1vh 2vw;
    border: none;
    border-radius: 5px;
    font-size:1.02rem;
    cursor: pointer;
}
.buttons{
    display: flex;
    gap: 2vw;
    justify-content: center;
    flex-wrap: wrap;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5vh 5vw;
    gap:15px;
}
.card{
    /* border: 1px solid black; */
    background-color:rgb(0, 0, 0,0.5);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 1vh 1vw;
    backdrop-filter: blur(7px);
}
.card-content{
    width: 200px;
    padding: 2vh 1vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.card-content p{
    text-align:left;
    font-size:0.8rem;
}
.card-content b{
    font-size:1.2rem;
}
.card img{
    width:100px;
    border-radius: 50%;
    height: 100px;
}

/* @media(max-width:425px){
    .body{
        background-image: url(https://tse1.mm.bing.net/th?id=OIP.jdfkfYl82U7LBixGdKevagHaJ3&pid=Api&P=0&h=220);
    }
} */
 