@import '../../mixins.scss';


.slider{
    margin-bottom: 10vh;
    .arrow{
        position: absolute;
        top: 27%;
        color:rgba(255, 255, 255,0.3);
        cursor: pointer;
        display: none;
    }
    @include md{
        .arrow{
            display:block;
        }
    }
    .arrow:hover{
        color:white;
    }
    .arrowLeft{
        left:7vw;
    }
    .arrowRight{
        right:7vw;
    }
    position: relative;
    .contentWrapper{
        display: flex;
        justify-content: center;
        .slideitems{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            overflow: auto;
            height: fit-content;
            // background-color: rebeccapurple;
            
            .card{
                height: 320px;
                // background-color: red;
                display: flex;
                flex-direction: column;
                gap: 2vh;
                position: relative;
                cursor: pointer;
                img{
                  width: 150px;
                  border-radius:15px;
                }
                @include md{
                    img{
                        width: 190px;
                    }
                }
                span{
                    color: rgb(72, 71, 71);
                }
                p,span{
                    padding-left: 10px;
                }
                p{
                    margin-top: 3vh;
                    width: 130px;
                    height: 17px;
                    overflow: hidden;
                }
                .circle{
                    background-color: white;
                    width: 45px;
                    border-radius: 50%;
                    position: absolute;
                    bottom:80px;
                    left: 20px;
                }
                .genres{
                    position: absolute;
                    bottom: 130px;
                    right: 0px;
                    display: none;
                }
                @include md{
                    .circle{
                        bottom:97px;
                        width: 50px;
                    }
                    .genres{
                        display: block;
                    }
                }
            }
            @include md{
                .card{
                    height: 400px;
                }
            }
        }
        @include md{
            .slideitems{
                width: 75%;
                gap: 10px;
            }
        }
    }
}

.loading{
        display: flex;
        gap: 10px;
        overflow: auto;
    .loadingSkeleton{
        height: 250px;
        width: 180px;
        padding: 10px 0;
        display: flex;
        flex-direction:column;
        gap: 2vh;
        .posterske{
            height: 200px;
            width: 160px;
            border-radius: 20px;
            margin: 0 auto;
        }
        .textske{
            display: flex;
            flex-direction: column;
            gap: 1vh;
            .titleske,.dateske{
                height: 20px;
                width: 90%;
            }
            .dateske{
                width: 70%;
            }
        }
    }
    }

.none{
    display: none;
}