*{
    margin: 0;
    box-sizing: border-box;
}
.quiz{
    height: 100vh;
    background-image: url('kbc-game/src/Assests/bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.question{
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding:0 30px;
    justify-content: center;
}
.time{
    border:3px solid white;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 30px;
    font-size: 1.5rem;
    background: linear-gradient(to bottom, rgb(16, 16, 136),black);
}
.question p{
    font-size:2rem;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    background: linear-gradient(to bottom, rgb(16, 16, 136),black);
}
.options{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.options span{
    background: linear-gradient(to bottom , rgb(59, 9, 59),black);
    border: 2px solid white;
    border-radius: 10px;
    width:100%;
    text-align: center;
    font-size:1.7rem;
    padding: 10px;
}
.price{
    background-color: rgb(14, 24, 53);
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.price b{
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    font-size:1.3rem;
}
.active{
    background-color:rgb(9, 125, 125);
}
.over,.final{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(248, 248, 50);
    background-color: rgb(10, 10, 10,0.9);
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
button{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}
 

@media(min-width:768px){
    .quiz{
        flex-direction: row;
    }
    .question{
        width: 70%;
        height: 100%;
    }
    .price{
        width: 30%;
        height: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 0;
    }
    .price b{
        font-size: 1rem;
    }
    .over,.final{
        width: 70%;
        height: 100%;
    }
}

@media(max-width:768px){
    .question p{
        font-size: 3vmax;
    }
    .price b{
        font-size: 3vmax;
    }
    .question span{
        font-size: 3vmax;
    }
    .over,.final{
        font-size: 4vmax;
    }
    .price{
        gap:5px;
    }
    .time{
        width: 15px;
       height: 15px;
       font-size: 3vmax;
       padding: 20px;
    }
}