.videos{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 20px;
    justify-content: center;
}
.home{
    display: flex;
}
aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:25px 15px;
    position: sticky;
    top:30px;
}
aside .option{
    display: flex;
    align-items: center;
    gap: 10px;
}