.vidpage{
    display: flex;
}
video{
    width: 100%;
}
.videosection{
    padding: 20px;
    padding-top: 0;
    height: 90vh;
    overflow: auto;
    width: 60%;
}
.mainvid{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.vidviews{
    display: flex;
    justify-content: space-between;
}
.vidoptions{
    display: flex;
    gap: 20px;
    
}
.like{
    display: flex;
    align-items: center;
    gap: 5px;
}


.subscribe{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}
.subchanel{
    display: flex;
    gap: 10px;
    align-items: center;
}
.subchanel img,.comment img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.subscribe button{
    background-color: red;
    color: white;
    border: none;
    width: fit-content;
    height: fit-content;
    padding:5px 10px;
    border-radius: 5px ;
    font-weight: bold;
    cursor: pointer;
}
.commentsec{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}
.comment{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.commenttitle,.ct1{
    display: flex;
    gap: 5px ;
    align-items: center;
}
.comlike{
    display: flex;
    gap: 10px;
}
iframe{
    height: 50vh;
}
.desc{
    max-height: 15vh;
    overflow: auto;
}
.suggestion{
    display: flex;
    height: fit-content;
    cursor: pointer;
}
.suggestion img{
    width: 170px;
    height: 130px;
}
.sugg-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:0 20px;
    font-size: 1vmax;
}
.rightbar{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding:20px 10px;
    gap: 20px;
    height: 90vh;
    overflow: auto;
    padding-top: 0;
}
.sugg-content span{
    font-weight: 600;
}
.gohome{
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 25px;
}
.gohome a{
    display: flex;
    align-items: center;
    gap: 10px;
}
.subscribe .unsub{
    background-color: gray;
    color: black;
}

@media(max-width:768px){
    .rightbar{
        display: none;
    }
    .videosection{
        width: 100%;
    }
}
@media(max-width:490px){
    .vidviews{
        flex-direction: column;
        gap: 15px;
    }
    .commenttitle{
        flex-direction: column;
        align-items: flex-start;
    }
}