@import '../../../mixins.scss';

.suggested{
    padding-top: 5vh;
    h3{
        text-align: center;
        color: var(--color);
        @include md{
            font-size: 1.4rem;
        }
    }
    .courses{
        .wrap{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }
    }
}