@import '../../mixins.scss';

.search{
    min-height: 100vh;
    width: 100%;
    padding-top: 10vh;
    .contentWrapper{
        .title{
            font-size: 1.1rem;
        }
        .wrapper{
            display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        .card{
            height: 300px;
            // background-color: red;
            display: flex;
            flex-direction: column;
            gap: 1vh;
            position: relative;
            cursor: pointer;
            img{
              width: 150px;
              border-radius:15px;
              height: 220px;
            }
            span{
                color: rgb(72, 71, 71);
            }
            p,span{
                padding-left: 10px;
            }
            p{
                margin-top: 3vh;
                width: 130px;
                height: 17px;
                overflow: hidden;
            }
            
        }
        }
        .notfound{
            color: red;
            font-size: 2rem;
            padding-top: 10vh;
            text-shadow: 1px 1px 10px;
        }
    }
}