@tailwind base;
@tailwind components;
@tailwind utilities;


nav .active{
    color:yellow;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

::-webkit-scrollbar{
    display: none;
}