*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.content{
    width: 100vw;
    min-height:90vh;
    background-color: rgb(250, 251, 251);
    color: black;
    display: flex;
}
.left{
    /* background-color: orange; */
    /* width: 250px; */
    width: 20%;
    position: sticky;
    top: 10vh;
    overflow: auto;
    height: 85vh;
}
.feed{
    /* background-color: red; */
    /* width: 766px; */
    width: 50%;
    /* border-left: 1px solid gray; */
    /* border-right: 1px solid gray; */
}
.right{
    /* width:350px; */
    width: 30%;
    position: sticky;
    top: 10vh;
    overflow: auto;
    height: 85vh;
}

@media(max-width:1024px){
    .left{
        display: none;
    }
    .feed{
        width: 70%;
    }
}
@media(max-width:800px){
    .right{
        display: none;
    }
    .feed{
        width:100%;
    }
}