.Rightbar{
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}
.birthday{
  width: 300px;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
.birthday span{
    font-size: 2rem;
}
.add{
    height: 40vh;
    background-color:gray;
    width: 300px;
    border-radius: 10px;
    color: white;
    background-image:url(celebration.jpg) ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 10px;
}
.friend{
    display: flex;
    align-items: center;
    gap: 1vw;
    position: relative;
}
.circle{
    background-color: rgb(38, 237, 38);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 20px;
}
.online{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 5px;
    width: 100%;

}